* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #c9c9c9;
}

h1 {
  background-color: #222222;
  margin: 0;
  padding: 1em;
}
body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #111111;
}

#contenedor {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
  margin: auto;
}

#contenedor--monedas {
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 3em;
}

.monedas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.monedas .contenedor-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.img {
  height: 100%;
  overflow: hidden;
}

.monedas h3 {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #dbdbdb;
}
.monedas button {
  background-color: #ef3c34;
  width: 80%;
  font-size: 1.1em;
  border-radius: 2em;
  padding: 0.4em;
}

.monedas button:hover {
  background-color: #d1372f;
  color: #e4e1e1;
  cursor: pointer;
}

#estado-cambio {
  margin-top: 3em;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  font-size: 1.5em;
}

.botones button {
  background-color: #ef3c34;
  width: 10em;
  font-size: 0.8em;
  border-radius: 2em;
  padding: 0.4em;
  margin: 1em;
}

.botones button:hover {
  background-color: #d1372f;
  color: #e4e1e1;
  cursor: pointer;
}

#contenedor--cigarro {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.cigarette {
  visibility: hidden;
  left: 50%;
}

.front {
  float: left;
  width: 200px;
  height: 20px;
  background-color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 4px 15px 5px rgb(121, 115, 115);
}

.back {
  float: left;
  left: 80%;
  width: 100px;
  height: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #e09123;
  box-shadow: 0px 15px 5px rgb(121, 115, 115);
}

.pack {
  margin-left: 10px;
  width: 5px;
  height: 20px;
  position: absolute;
  background-color: white;
}

.link {
  text-decoration: none;
  background-color: #222222;
  color: #c9c9c9;
  padding-bottom: 1em;
  display: block;
}

.link:hover {
  text-decoration: underline;
  color: #e09123;
}
